@let reservasData = reservas();

<h2 class="text-2xl font-bold mb-4">Mis reservas</h2>

@if(!hayReservas()){
    <p class="text-gray-500 text-center bg-gray-200 p-10 rounded-lg">No tienes reservas</p>
}

@if(hayReservas()){
    <ul class="space-y-4">
        @for(reserva of reservasData; track $index){
            <li  class="bg-white shadow-md rounded-lg p-4 flex justify-between items-center">
                <div>
                    <strong class="block text-lg">{{ reserva.nombre }}</strong>
                    <span class="text-sm text-gray-600">{{ reserva.tipo }} - {{ reserva.ubicacion }}</span>
                    <span class="block text-xs text-gray-500">{{ reserva.horario | date: 'short' }}</span>
                </div>
                <button class="btn btn-danger" 
                (click)="abrirModalCancelacion(reserva.id)">
                    Cancelar
                </button>
            </li>
        }
    </ul>
}

@if(confirmarCancelacion){

    <div id="popup-modal" tabindex="-1" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full bg-gray-700/75">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow-sm">
                <div class="p-4 md:p-5 text-center">

                    <svg class="mx-auto mb-4 w-12 h-12 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>

                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Está seguro de cancelar la reserva?</h3>
                    <button (click)="cancelarReserva(reservaId)" data-modal-hide="popup-modal" type="button" class="btn btn-danger m-2">
                        Confirmar
                    </button>
                    <button data-modal-hide="popup-modal" type="button" class="btn btn-secondary m-2" (click)="confirmarCancelacion = false">Volver</button>
                </div>
            </div>
        </div>
    </div>

}