.popup-modal{
    opacity: 0;
    pointer-events: none;
    &.open{
        opacity: 1;
        pointer-events: auto;
        .w-full{
            transform: scale(1);
        }
    }
    .w-full{
        transform: scale(0);
        transition: .3s;
    }
}