<h2 class="text-2xl font-bold mb-4">Listado de clases</h2>

@if(clasesResource.isLoading()){
    <div class="text-center">
        <div role="status">
            <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}

@if(clasesResource.error()){
    <p class="text-red-500">Error al cargar datos</p>
}

@if(!clasesResource.isLoading() && !clasesResource.error()){
    <div class="flex flex-wrap gap-4 mb-6">
        <select class="border border-gray-300 rounded-lg p-2 cursor-pointer" 
        [ngModel]="filtroUbicacion()" 
        (ngModelChange)="filtroUbicacion.set($event)">
            <option value="">Todas las ubicaciones</option>
            @for(ubicacion of ubicaciones(); track $index){
                <option class="cursor-pointer" [ngValue]="ubicacion">{{ ubicacion }}</option>
            }
        </select>

        <select class="border border-gray-300 rounded-lg p-2 cursor-pointer" 
        [ngModel]="filtroTipo()" 
        (ngModelChange)="filtroTipo.set($event)">
            <option value="">Todos los tipos</option>
            @for(tipo of tipos(); track $index){
                <option class="cursor-pointer" [ngValue]="tipo">{{ tipo }}</option>
            }
        </select>

        <input 
            type="date"
             class="border border-gray-300 rounded-lg p-2 cursor-pointer"
            [(ngModel)]="filtroFecha"
            (ngModelChange)="filtroFecha.set($event)"
        />

        <button  class="btn btn-secondary" 
        (click)="limpiarFiltros()">
            Limpiar filtros
        </button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @if(clasesFiltradas().length === 0){
            <h3>No se encontraron coincidencias</h3>
        }
        @for (clase of clasesFiltradas(); track $index){
            <a class="block bg-white shadow-sm rounded-lg p-4 hover:shadow-lg transition" 
            [routerLink]="['/clases', clase.id]">
                <h3 class="text-lg font-semibold">{{ clase.nombre }}</h3>
                <p class="text-sm text-gray-600">{{ clase.tipo }} - {{ clase.ubicacion }}</p>
                <p class="text-xs text-gray-500">{{ clase.horario | date: 'short' }}</p>
            </a>

        }
    </div>
}