<div class="h-screen flex justify-center items-center fixed w-full">
  <div class="mx-auto bg-white p-6 shadow-lg rounded-lg min-w-80">
    <h2 class="text-2xl mb-4 text-center">Iniciar sesión</h2>

    <form class="max-w-sm mx-auto" (ngSubmit)="login()" autocomplete="off">
      <div class="mb-5">
        <label for="user" class="block mb-2 text-sm font-medium text-gray-900">Usuario</label>
        <input [(ngModel)]="username" name="username" required type="text" id="user"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Usuario" autocomplete="off" spellcheck="false" required />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password" name="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Contraseña" autocomplete="off" spellcheck="false" autocomplete="new-password" required />
      </div>

      @if(error){
        <div
          class="flex items-center p-4 py-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50  dark:text-red-400 dark:border-red-800"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Datos incorrectos</span>
          </div>
        </div>
      }

      <button type="submit" class="btn btn-primary w-full">Submit</button>
    </form>
  </div>
</div>