<nav class="bg-gray-800 border-gray-700 fixed w-full top-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a [routerLink]="['/clases']" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FitZone</span>
    </a>
    <div class="flex items-center">
      <p class="text-white mr-5"><strong>Hola, {{authService.usuarioActual()?.nombre}}</strong></p>
      <button (click)="toggleNav()" data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 cursor-pointer" aria-controls="navbar-hamburger" aria-expanded="false">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="hidden w-full" id="navbar-hamburger" [ngClass]="{'hidden': !toggleBtn}">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <li (click)="toggleBtn = false">
          <a [routerLink]="['/clases']" routerLinkActive="bg-blue-700" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700" aria-current="page">Clases</a>
        </li>
        <li (click)="toggleBtn = false">
          <a [routerLink]="['/reservas']" routerLinkActive="bg-blue-700" class="block py-2 px-3 text-white text-gray-900 rounded-sm hover:bg-gray-700">Reservas</a>
        </li>
        <li (click)="logout()">
          <a [routerLink]="['/login']" class="block py-2 px-3 text-white text-gray-900 rounded-sm hover:bg-gray-700">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
