@let claseData = clase();

@if(clasesResource.isLoading()){
    <div class="text-gray-500">Cargando...</div>
}

@if(clasesResource.error()){
    <div class="text-red-500">Error al cargar la clase</div>
}

@if(!clasesResource.isLoading() && claseData){
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2>{{ claseData?.nombre }}</h2>
        <p class="mb-2"><strong>Tipo:</strong> {{ claseData?.tipo }}</p>
        <p class="mb-2"><strong>Ubicación:</strong> {{ claseData?.ubicacion }}</p>
        <p class="mb-4"><strong>Horario:</strong> {{ claseData?.horario | date: 'short' }}</p>
    </div>

    <div class="flex gap-4 mt-8">
        <button class="btn btn-primary" 
        (click)="reservar()">
            Reservar
        </button>
        <button  class="btn btn-secondaryr" 
        (click)="volver()">
            Volver
        </button>
    </div>
}

@if(!clasesResource.isLoading() && !claseData){
    <div class="text-center">
        <p>Clase no encontrada.</p>
        <button 
        class="btn btn-secondary mt-4" 
        (click)="volver()">
            Volver
        </button>
    </div>
}