@let claseData = clase();

@if(clasesResource.isLoading()){
    <div class="text-center">
        <div role="status">
            <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}

@if(clasesResource.error()){
    <div class="text-red-500">Error al cargar la clase</div>
}

@if(!clasesResource.isLoading() && claseData){
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2>{{ claseData?.nombre }}</h2>
        <p class="mb-2"><strong>Tipo:</strong> {{ claseData?.tipo }}</p>
        <p class="mb-2"><strong>Ubicación:</strong> {{ claseData?.ubicacion }}</p>
        <p class="mb-2"><strong>Horario:</strong> {{ claseData?.horario | date: 'short' }}</p>
        <p class="mb-4"><strong>Descripción:</strong> {{ claseData?.descripcion }}</p>
    </div>

    <div class="flex gap-4 mt-8">
        <button class="btn btn-primary" 
        (click)="reservar()">
            Reservar
        </button>
        <button  class="btn btn-secondaryr" 
        (click)="volver()">
            Volver
        </button>
    </div>
}

@if(!clasesResource.isLoading() && !claseData){
    <div class="text-center">
        <p class="bg-gray-200 p-10 rounded-lg">Clase no encontrada.</p>
        <button 
        class="btn btn-secondary mt-4" 
        (click)="volver()">
            Volver
        </button>
    </div>
}


<div 
    id="popup-modal" 
    tabindex="-1" 
    class="popup-modal flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full bg-gray-700/75"
    [ngClass]="{'open': goReservas}"
    >
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm">
            <div class="p-4 md:p-5 text-center">
                <svg class="w-12 h-12 text-green-600 m-auto mb-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                </svg>

                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Reservado correctamente</h3>
                <button (click)="mostrarReservas()" data-modal-hide="popup-modal" type="button" class="btn btn-primary m-2">
                    Ir a reservas
                </button>
                <button data-modal-hide="popup-modal" type="button" class="btn btn-secondary m-2" (click)="volver()">Volver</button>
            </div>
        </div>
    </div>
</div>




<div class="alert-reserva flex items-center justify-between flex-col md:flex-row px-4 py-4 md:py-2 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 mt-10"
[ngClass]="{'show': reservada}" 
role="alert">
    <div>
        <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="font-medium mr-10">Esta clase ya se encuentra reservada</span>
    </div>
        
    <button class="btn btn-primary mt-5 md:mt-0" (click)="mostrarReservas()">Ir a mis reservas</button>
</div>
