@let reservasData = reservas();

<h2 class="text-2xl font-bold mb-4">Mis reservas</h2>

@if(!hayReservas()){
    <p class="text-gray-500">No tienes reservas</p>
}

@if(hayReservas()){
    <ul class="space-y-4">
        @for(reserva of reservasData; track $index){
            <li  class="bg-white shadow-md rounded-lg p-4 flex justify-between items-center">
                <div>
                    <strong class="block text-lg">{{ reserva.nombre }}</strong>
                    <span class="text-sm text-gray-600">{{ reserva.tipo }} - {{ reserva.ubicacion }}</span>
                    <span class="block text-xs text-gray-500">{{ reserva.horario | date: 'short' }}</span>
                </div>
                <button class="btn btn-danger" 
                (click)="cancelarReserva(reserva.id)">
                    Cancelar
                </button>
            </li>
        }
    </ul>
}